.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

.box-border {
    /* border: 1px solid #e9e9e9; */
    border-radius: 3px;
    min-width: 700px;
}
.text-center {
    text-align: center !important;
}
.ant-table-small{
    border:none!important;
}
/* 设置弹窗的最大高度 */
.widgetWrap {
    max-height: 520px;
    overflow-x: hidden;
    overflow-y: auto;
}
/*滚动条样式*/
.widgetWrap::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.widgetWrap::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}
.widgetWrap::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}
.ant-modal-content .ant-form-item{margin-bottom: 18px;}
.ant-menu-inline .ant-menu-submenu-title{
    font-size: 14px;
    font-weight: 700;
}
h1{
    font-size: 18px!important;
}
.moduleWrap{
    width: 100%;
    height: 100%;
}   /*模块的外层*/
.moduleWrap .nav-header{
    height:40px;
}
.moduleWrap .box-border{
    width:100%;
    height: calc(100% - 40px);
    box-sizing: border-box;
    position: relative;
}
.tree-drown {
    height: calc(100% - 54px);
    width: 220px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
    border: 1px dashed #ddd;
}
.moduleWrap .box-border .content-box{
    margin-left: 240px;
    width: calc(100%-240px);
    height: 100%;
}
.moduleWrap .box-border .container-fluid{overflow-y: hidden; margin-top: 15px;}
.ant-table-small .ant-table-thead>tr>th{background-color: #f3f3f3 !important;}

.moduleWrap .ant-table-bordered .ant-table-tbody tr:last-child>td, 
.moduleWrap .ant-table-bordered .ant-table-tbody tr:last-child>th{ border-bottom:  1px solid #e9e9e9;}

